@viewport {
  width: 400px;
  height: 700px;
}
html * {
  font-size: 16px;
  color: #ffffff;
  /*TODO: delete test font*/
  font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial;
  margin: 0;
  padding: 0;
}
body {
  background: #555;
}
body.list ul {
  list-style-type: none;
}
body.list ul li {
  height: 84px;
  width: 100%;
}
body.list ul li div.city_time {
  position: absolute;
  left: 16px;
}
body.list ul li div.city_time div.time {
  padding-top: 21px;
  font-size: 15px;
  line-height: 14px;
}
body.list ul li div.city_time div.city {
  padding-bottom: 19px;
  font-size: 30px;
  height: 30px;
}
body.list ul li div.tmp {
  position: absolute;
  right: 16px;
  padding-top: 19px;
  padding-bottom: 19px;
  /*TODO: delete test font*/
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue", Helvetica, Arial;
  font-size: 65px;
  line-height: 46px;
}
body.list ul li.sanjose {
  background: -webkit-linear-gradient(#718291, #617588);
}
body.list ul li.sydney {
  background: -webkit-linear-gradient(#0b131e, #232931);
}
