@viewport {
  width: 400px;
  height: 700px;
}
html * {
  font-size: 16px;
  color: #ffffff;
  font-family: "HelveticaNeue-Light", Helvetica, Arial;
  margin: 0;
  padding: 0;
}
body {
  background: #555;
}
body a {
  text-decoration: none;
}
body.list ul {
  list-style-type: none;
}
body.list ul li {
  height: 84px;
  width: 100%;
}
body.list ul li div.city_time {
  position: absolute;
  left: 16px;
}
body.list ul li div.city_time div.time {
  font-size: 15px;
  line-height: 14px;
  padding-top: 21px;
}
body.list ul li div.city_time div.city {
  font-size: 30px;
  height: 30px;
  padding-bottom: 19px;
}
body.list ul li div.tmp {
  position: absolute;
  right: 16px;
  font-family: "HelveticaNeue-UltraLight", Helvetica, Arial;
  font-size: 65px;
  line-height: 46px;
  padding-top: 19px;
  padding-bottom: 19px;
}
body.list ul li.sanjose {
  background: -webkit-linear-gradient(#718291, #617588);
}
body.list ul li.sydney {
  background: -webkit-linear-gradient(#0b131e, #232931);
}
body.city div {
  position: relative;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
}
body.city div table {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
body.city div table img {
  height: 17px;
  width: 17px;
}
body.city div table td {
  height: 16px;
}
body.city div.header {
  height: 195px;
  text-align: center;
}
body.city div.header p.p1 {
  font-size: 24px;
  line-height: 24px;
  padding-top: 23px;
}
body.city div.header p.p2 {
  font-size: 16px;
  line-height: 16px;
  padding-top: 9px;
}
body.city div.header p.p3 {
  font-size: 80px;
  line-height: 62px;
  padding-top: 22px;
  font-family: "HelveticaNeue-UltraLight", Helvetica, Arial;
}
body.city div.header table {
  position: absolute;
  bottom: 10px;
}
body.city div.header td {
  width: 25%;
}
body.city div.header td:first-child {
  text-align: left;
}
body.city div.header td:nth-child(2) {
  text-align: left;
}
body.city div.header td:nth-child(3) {
  text-align: right;
}
body.city div.header td:last-child {
  text-align: right;
}
body.city div.day {
  height: 93px;
  overflow-x: hidden;
  overflow-y: hidden;
}
body.city div.day:hover {
  overflow-x: scroll;
}
body.city div.day table {
  padding-top: 10px;
  padding-bottom: 14px;
}
body.city div.day table tr td {
  text-align: center;
  min-width: 49px;
  font-size: 13px;
}
body.city div.day table tr:first-child td {
  line-height: 10px;
  height: 10px;
}
body.city div.day table tr:nth-child(2) td {
  line-height: 17px;
  height: 17px;
  padding-top: 15px;
  padding-bottom: 11px;
}
body.city div.day table tr:last-child td {
  line-height: 8px;
  height: 8px;
}
body.city div.week {
  height: 228px;
}
body.city div.week table {
  padding-top: 12px;
  padding-bottom: 5px;
}
body.city div.week table tr td {
  width: 25%;
  line-height: 17px;
  height: 17px;
  padding-bottom: 5px;
  text-align: right;
}
body.city div.week table tr td:first-child {
  text-align: left;
}
body.city div.today {
  height: 56px;
}
body.city div.today p {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 12px;
  bottom: 12px;
}
body.city div.detail {
  height: 287px;
  border-width: 0;
}
body.city div.detail table {
  padding-top: 9px;
  padding-bottom: 10px;
}
body.city div.detail table tr td {
  width: 50%;
  line-height: 16px;
  height: 16px;
  padding-bottom: 5px;
}
body.city div.detail table tr td:first-child {
  text-align: right;
  padding-right: 5px;
}
body.city div.detail table tr td:last-child {
  text-align: left;
  padding-left: 5px;
}
body.city div.detail table tr:nth-child(even) td {
  padding-bottom: 22px;
}
body.city div.footer {
  height: 42px;
  border-width: 0;
}
body.city footer {
  position: fixed;
  bottom: 0;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  height: 42px;
  width: 100%;
  opacity: 1;
}
body.city footer div {
  border-width: 0;
  position: relative;
}
body.city footer div.center {
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  opacity: 0.9;
}
body.city footer div.center div {
  position: absolute;
  top: 11px;
  margin: 0;
}
body.city footer div.center div.d1 {
  right: 129px;
  width: 11px;
}
body.city footer div.center div.d2 {
  right: 71px;
  width: 6px;
}
body.city footer div.center div.d3 {
  left: 71px;
  width: 6px;
}
body.city footer div.center div.d4 {
  left: 129px;
  width: 11px;
}
body.city footer div.right {
  position: absolute;
  width: 20px;
  right: 12px;
  top: -4px;
}
body.city footer div.right a {
  font-size: 40px;
}
body.city.sanjose {
  background: -webkit-linear-gradient(#718291, #617588);
  border-color: #b6c0c9;
}
body.city.sanjose td.grey {
  color: #b6c0c9;
}
body.city.sanjose footer {
  background: #617588;
}
body.city.sanjose footer div:first-child div:first-child {
  opacity: 0.5;
}
body.city.sanjose footer div:first-child div:nth-child(3) {
  opacity: 0.5;
}
body.city.sydney {
  background: -webkit-linear-gradient(#0b131e, #232931);
  border-color: #8b8f92;
}
body.city.sydney td.grey {
  color: #8b8f92;
}
body.city.sydney footer {
  background: #232931;
}
body.city.sydney footer div:first-child div:nth-child(2) {
  opacity: 0.5;
}
body.city.sydney footer div:first-child div:last-child {
  opacity: 0.5;
}
